.container {
    margin-left: 100px;
    height: 80px;
}

.container img {
    position: fixed;
    margin-left: 150px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

/*.card {
    border: 1px solid #333;
    width: 100px;
    height: 10px;
    position: relative;
}*/

/*.card-footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 9px;
    background: #dfe6e9;
}*/

.card-footer input {
    width: 120px;
    display: inline-block;
    margin-top: -20px;
}
